Questo è un header
{{id}}
<!--navbar-->
<header id="header_main">
    <div class="header_main_content">
        <nav class="uk-navbar">
            <!--<div id="menu_top" class="uk-float-left uk-hidden-small">
                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                    <a href="#" class="top_menu_toggle"><i class="material-icons md-24">&#xE8F0;</i></a>
                    <div class="uk-dropdown uk-dropdown-width-3">
                        <div class="uk-grid uk-dropdown-grid" data-uk-grid-margin>
                            <div class="uk-width-2-3">
                                <div class="uk-grid uk-grid-width-medium-1-3 uk-margin-top uk-margin-bottom uk-text-center" data-uk-grid-margin>
                                    <a href="#/">
                                        <i class="material-icons md-36">&#xE871;</i>
                                        <span class="uk-text-muted uk-display-block">Dashboard</span>
                                    </a>
                                    <a href="#/workflow">
                                        <i class="material-icons md-36">&#xE85C;</i>
                                        <span class="uk-text-muted uk-display-block">Workflow</span>
                                    </a>
                                    <a href="#/mailbox">
                                        <i class="material-icons md-36">&#xE158;</i>
                                        <span class="uk-text-muted uk-display-block">Mailbox</span>
                                    </a>
                                    <a href="#/aziende">
                                        <i class="material-icons md-36">&#xE7F1;</i>
                                        <span class="uk-text-muted uk-display-block">Aziende</span>
                                    </a>
                                    <a href="#/contatti">
                                        <i class="material-icons md-36">&#xE7FD;</i>
                                        <span class="uk-text-muted uk-display-block">Contatti</span>
                                    </a>
                                    <a href="#/events">
                                        <i class="material-icons md-36">&#xE878;</i>
                                        <span class="uk-text-muted uk-display-block">Eventi</span>
                                    </a>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <ul class="uk-nav uk-nav-dropdown uk-panel">
                                    <li class="uk-nav-header">Altro</li>
                                    &lt;!&ndash;<li><a href="components_accordion.html">Accordions</a></li>&ndash;&gt;
                                    <li><a href="#/operatore">Nuovo operatore</a></li>
                                    <li><a href="#/calendario">Calendario</a></li>
                                    <li><a href="#/promemoria">Promemoria</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav user_actions">
                    <li data-uk-dropdown="{mode:'click'}">
                        <a href="#" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE7F4;</i><span class="uk-badge">16</span></a>
                        <div class="uk-dropdown uk-dropdown-xlarge uk-dropdown-flip">
                            <div class="md-card-content">
                                <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#header_alerts',animation:'slide-horizontal'}">
                                    <li class="uk-width-1-2 uk-active"><a href="#" class="js-uk-prevent uk-text-small">Messaggi (12)</a></li>
                                    <li class="uk-width-1-2"><a href="#" class="js-uk-prevent uk-text-small">Notifiche (4)</a></li>
                                </ul>
                                <ul id="header_alerts" class="uk-switcher uk-margin">
                                    <li>
                                        <ul class="md-list md-list-addon">
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <span class="md-user-letters md-bg-cyan">my</span>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading"><a href="#/mailbox">Nostrum laudantium.</a></span>
                                                    <span class="uk-text-small uk-text-muted">Consequatur ut nobis harum tenetur quod aliquam et.</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_07_tn.png" alt=""/>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading"><a href="#/mailbox">Non mollitia qui.</a></span>
                                                    <span class="uk-text-small uk-text-muted">Velit doloremque incidunt ut nihil itaque animi rerum.</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <span class="md-user-letters md-bg-light-green">qu</span>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading"><a href="#/mailbox">Necessitatibus error.</a></span>
                                                    <span class="uk-text-small uk-text-muted">Ipsum quam sit odio et accusantium sint dolor.</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_02_tn.png" alt=""/>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading"><a href="#/mailbox">Eum debitis ut.</a></span>
                                                    <span class="uk-text-small uk-text-muted">Sunt quia ut adipisci velit aut.</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <img class="md-user-image md-list-addon-avatar" src="assets/img/avatars/avatar_09_tn.png" alt=""/>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading"><a href="#/mailbox">Maxime eum et.</a></span>
                                                    <span class="uk-text-small uk-text-muted">Voluptatibus soluta facere maiores non nihil dolor et enim et.</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="uk-text-center uk-margin-top uk-margin-small-bottom">
                                            <a href="#/mailbox" class="md-btn md-btn-flat md-btn-flat-primary js-uk-prevent">Show All</a>
                                        </div>
                                    </li>
                                    <li>
                                        <ul class="md-list md-list-addon">
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons uk-text-warning">&#xE8B2;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">Tenetur voluptatem enim.</span>
                                                    <span class="uk-text-small uk-text-muted uk-text-truncate">Earum soluta repellendus amet dolorum facilis non.</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons uk-text-success">&#xE88F;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">Et vero praesentium.</span>
                                                    <span class="uk-text-small uk-text-muted uk-text-truncate">Laborum nemo id incidunt totam officiis.</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons uk-text-danger">&#xE001;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">Provident ex amet.</span>
                                                    <span class="uk-text-small uk-text-muted uk-text-truncate">Illum officia accusantium nostrum facilis cumque eius eos.</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons uk-text-primary">&#xE8FD;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">Excepturi quidem iste.</span>
                                                    <span class="uk-text-small uk-text-muted uk-text-truncate">Dolores nam repellendus nisi quas blanditiis.</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-uk-dropdown="{mode:'click'}">
                        <a href="#" class="user_action_image"><img class="md-user-image" src="assets/img/avatars/avatar_11_tn.png" alt=""/></a>
                        <div class="uk-dropdown uk-dropdown-small uk-dropdown-flip">
                            <ul class="uk-nav js-uk-prevent">
                                <li><a href="#/profilo">Profilo</a></li>
                                <!--<li><a href="#/page_settings.html">Impostazioni</a></li>-->
                                <li><a href="#/login">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header><!-- navbar end -->
<!-- main sidebar -->
<aside id="sidebar_main">
    <div class="sidebar_main_header">
        <div class="sidebar_logo">
            <a href="#/" class="sSidebar_hide"><i class="material-icons md-36">&#xE88A;</i></a>
            <a href="#/" class="sSidebar_show"><i class="material-icons md-36">&#xE88A;</i></a>
        </div>
    </div>
    <div class="menu_section">
        <ul>
            <li ng-class="{ 'current_section': currentPage == 'dashboard'}" title="Dashboard">
                <a href="#/">
                    <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                    <span class="menu_title">Dashboard</span>
                </a>
            </li>
            <li ng-class="{ 'current_section': currentPage == 'mailbox'}" title="Mailbox">
                <a href="#/mailbox">
                    <span class="menu_icon"><i class="material-icons">&#xE158;</i></span>
                    <span class="uk-text-muted uk-display-block">Mailbox</span>
                </a>
            </li>
            <li ng-class="{ 'current_section': currentPage == 'workflow'}" title="Workflow">
                <a href="#/workflow">
                    <span class="menu_icon"><i class="material-icons">&#xE85C;</i></span>
                    <span class="uk-text-muted uk-display-block">Workflow</span>
                </a>
            </li>
            <li ng-class="{ 'current_section': currentPage == 'events'}" title="Eventi">
                <a href="#/events">
                    <span class="menu_icon"><i class="material-icons">&#xE878;</i></span>
                    <span class="uk-text-muted uk-display-block">Eventi</span>
                </a>
            </li>
            <li ng-class="{ 'current_section': currentPage == 'campaigns'}" title="Campagne">
                <a href="#/campaigns">
                    <span class="menu_icon"><i class="material-icons">&#xE80E;</i></span>
                    <span class="uk-text-muted uk-display-block">Campagne</span>
                </a>
            </li>
            <li ng-class="{ 'current_section': currentPage == 'groups'}" title="Target Groups">
                <a href="#/groups">
                    <span class="menu_icon"><i class="material-icons">&#xE886;</i></span>
                    <span class="uk-text-muted uk-display-block">Target Groups</span>
                </a>
            </li>
            <li ng-class="{ 'current_section': currentPage == 'contacts'}" title="Contatti">
                <a href="#/contatti">
                    <span class="menu_icon"><i class="material-icons">&#xE7FD;</i></span>
                    <span class="uk-text-muted uk-display-block">Contatti</span>
                </a>
            </li>
            <li ng-class="{ 'current_section': currentPage == 'aziende'}" title="Aziende">
                <a href="#/aziende">
                    <span class="menu_icon"><i class="material-icons">&#xE7F1;</i></span>
                    <span class="uk-text-muted uk-display-block">Aziende</span>
                </a>
            </li>
            <!--<li ng-class="{ 'current_section': currentPage == 'other'}">
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">&#xE8D2;</i></span>
                    <span class="menu_title">Altro</span>
                </a>
                <ul>
                    <li><a href="#/operatore">Nuovo operatore</a></li>
                    <li><a href="#/calendario">Calendario</a></li>
                    <li><a href="#/promemoria">Promemoria</a></li>
                </ul>
            </li>-->
        </ul>
    </div>
</aside><!-- main sidebar end -->
